<div class="container bootcamps-index">
  <% @coding_bootcamps.each do |coding_bootcamp| %>
    <ul>
      <%= link_to coding_bootcamp do %>
        <li class="col-md-3 col-sm-4 col-xs-12">
          <div class="logo-section">
            <%= image_tag('bootcamps_logo/' + coding_bootcamp.name.downcase.gsub(' ', '')+'.png', class: 'bootcamp-logo') %>
          </div>
          <div class="bootcamp-name">
            <%= coding_bootcamp.name %>
          </div>
          <div class="bootcamp-languages">
            <%= coding_bootcamp.programs.map(&:language_list).flatten.uniq.join(', ').titleize %>
          </div>
        </li>
      <% end %>      
    </ul>
  <% end %>
</div>