<div class="container bootcamps-index">
  <h1>Click on a bootcamp to learn more</h1>
  
  <% @coding_bootcamps.each do |coding_bootcamp| %>
    <ul>
      <li class="col-md-4"><%= link_to coding_bootcamp.name, coding_bootcamp %></li>
    </ul>
  <% end %>
</div>