<div class="container bootcamps-index">
  <h1>Click on a bootcamp to learn more</h1>
  
  <% @coding_bootcamps.each do |coding_bootcamp| %>
    <ul>
      <%= link_to coding_bootcamp do %>
        <li class="col-md-3">
          <%= coding_bootcamp.name %>
          <%= image_tag('bootcamps_logo/' + coding_bootcamp.name.downcase.gsub(' ', '')+'.png') %>
        </li>
      <% end %>

    </ul>
  <% end %>
</div>