<div class="container">
<h1>Listing coding_bootcamps</h1>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @coding_bootcamps.each do |coding_bootcamp| %>
        <tr>
          <td><%= link_to coding_bootcamp.name, coding_bootcamp %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Coding bootcamp', new_coding_bootcamp_path %>
</div>