<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coding_bootcamp.name %>
</p>

<%= link_to 'Edit', edit_coding_bootcamp_path(@coding_bootcamp) %> |
<%= link_to 'Back', coding_bootcamps_path %>
