<div class="about">
  <%= image_tag('devices.png') %>
  <div class="credits">
    Special thanks to <a href="http://flatuicolors.com/" target="blank">Flat UI Colors</a> for the color inspiration, <a href="http://smallicons.net/" target="blank">Small Icons</a> for the homepage icons, <a href="http://icomoon.io/" target="blank">IcoMoon</a> for the font icons, and <a href="http://dribbble.com/shots/977830-Apple-devices-Flat-icons-PSD" target="blank">Pierre</a> for the above images.
    <div class="social">
      <span class="icon-twitter"></span> <a href="https://twitter.com/bootcampsearch" target="blank">@BootcampSearch</a>
    </div>
  </div>
  
</div>