/***********************
-> Main styles
***********************/
h1, h2, h3 {
  font-family: 'Lato', serif;
}

a.navbar-brand {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 2em;
}

@font-face {
  font-family: 'Icomoon';
  src:font-url('icomoon.eot');
  src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('icomoon.svg#icomoon') format('svg'),
    font-url('icomoon.woff') format('woff'),
    font-url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\e600";
}
.icon-coin:before {
  content: "\e601";
}
.icon-clock:before {
  content: "\e602";
}
.icon-busy:before {
  content: "\e603";
}
.icon-list:before {
  content: "\e604";
}


/***********************
-> Bootcamp show styles
***********************/

#notice {
  margin: 0;
}

.icon {
  font-family: 'Icomoon';
}

.header {
  height: 500px;
  background-color: #4AA3DF;
}

.bootcamp-name {
  margin-top: 0;
  padding-top: 30px;
  text-align: center;
  font-size: 4em;
  color: #FBFCFC;
  font-weight: 700;
}

.bootcamp-tagline {
  text-align: center;
  color: #D9EDFC;
}

// .bootcamp-logo {
//   <%= image_tag("bootcamps_logo/Flatiron_School_logo.png", class: "bootcamp-logo") %>
//   position: absolute;
//   z-index: 2;

//   margin-top: 50px;
//   margin-left: 100px;
//   width: 230px;
// }
