/***********************
-> bootcamp show styles
***********************/

#notice {
  margin: 0;
}


// scss awesomeness starts
$header-background: #4AA3DF;
$bootcamp-subheader-color: #D9EDFC;
$container-width: 960px;

.link-style {
  color: white;
  text-decoration: none;
}

.hover-style {
  text-decoration: none;
  border-bottom: 1px solid white;
}
// scss awesomeness ends

.bootcamp {
  .container {
    max-width: $container-width;
  }

  .large-container {
    max-width: $container-width * 1.25;
    margin: 0 auto;
  }

  .header {
    height: 110%;
    background-color: $header-background;
  }

  .bootcamp-name {
    text-align: center;
    padding-top: 30px;
  }

  .bootcamp-name a {
    margin-top: 0;
    font-size: 2.3em;
    color: #FBFCFC;
    font-weight: 700;
  }

  .bootcamp-name a:hover {
    @extend .hover-style;
  }

  .bootcamp-tagline {
    text-align: center;
    color: $bootcamp-subheader-color;
  }

  .bootcamp-tags {
    text-align: center;
    margin: 50px 0;
    font-size: 1.4em;
    text-align: left;
    color: $bootcamp-subheader-color;

    div:first-child {
      margin-right: 25px;
    }

    a {
      @extend .link-style;
      font-size: 0.9em;

      &:hover {
        @extend .hover-style;
      }
    }
  }

  .bootcamp-description {
    margin-top: 40px;
  }

  .bootcamp-program {
    margin: 40px 0;
  }
}

// .icon-large {
//   color: #D9EDFC;
//   font-size: 2em;
//   display: block;
//   margin-bottom: 10px;
// }



// .bootcamp-logo {
//   margin-top: 40px;
//   text-align: center;
// }

// .bootcamp-logo img {
// //   <%= image_tag("bootcamps_logo/Flatiron_School_logo.png", class: "bootcamp-logo") %>
//   position: relative;
//   margin: 0 auto;
//   max-width: 130px;
// }