/***********************
-> bootcamp index styles
***********************/
@mixin border-ratius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

.bootcamps-index {
  ul {
    margin-top: 30px;
  }

  li {
    list-style: none;
    border: 3px solid #EBEBEB;
    margin: 30px;
    height: 300px;
    @include border-ratius(4px);

    @media (max-width: 750px) {
      margin: 0;
    }
  }

  li:hover {
    border-color: #2980B9;
  }

  .logo-section {
    height: 150px;
  }

  .bootcamp-logo {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 100px;
    max-height: 100px;
  }

  .bootcamp-name {
    color: #2980B9;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
  }

  .bootcamp-languages, .bootcamp-locations {
    color: #354B60;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/***********************
-> bootcamp show styles
***********************/

#notice {
  margin: 0;
}


// scss awesomeness starts
$header-background: #4AA3DF;
$bootcamp-subheader-color: #D9EDFC;
$container-width: 960px;

.link-style {
  color: white;
  text-decoration: none;
}

.hover-style {
  text-decoration: none;
  border-bottom: 1px solid white;
}
// scss awesomeness ends

.bootcamp {
  padding-bottom: 40px;

  .container {
    max-width: $container-width;
    font-size: 1.2em;
    font-height: 1.4em;
  }

  .large-container {
    max-width: $container-width * 1.25;
    margin: 0 auto;
  }

  .header {
    height: 110%;
    background-color: $header-background;
  }

  .bootcamp-name-top {
    text-align: center;
    padding-top: 30px;
  }

  .bootcamp-name-top a {
    margin-top: 0;
    font-size: 2.3em;
    color: #FBFCFC;
    font-weight: 700;
  }

  .bootcamp-name-top a:hover {
    @extend .hover-style;
  }

  .bootcamp-tagline {
    text-align: center;
    color: $bootcamp-subheader-color;
  }

  .bootcamp-tags {
    text-align: center;
    margin: 50px 0;
    font-size: 1.4em;
    text-align: left;
    color: white;

    div:first-child {
      margin-right: 25px;
    }

    a {
      @extend .link-style;
      font-size: 0.9em;

      &:hover {
        @extend .hover-style;
      }
    }
  }

  .bootcamp-description {
    margin: 60px 0;
  }

  .bootcamp-logo-top {
    max-width: 200px;
    max-height: 200px;
    padding-left: 30px;
  }

  .bootcamp-program {
    margin: 40px 0;
  }

  .bootcamp-languages-top {
    margin: 20px 0;
  }

  .program {
    margin-bottom: 50px;
  }

  .related-bootcamps {
    @extend .bootcamps-index;
    font-size: 0.9em;
    margin-bottom: 70px;
  }
}