/***********************
-> main styles
***********************/
$primary-font: 'Lato', serif;

h1, h2, h3 {
  font-family: $primary-font;
}

a.navbar-brand {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 2em;
}

/* grouping imports here to save http request */
@import 'icons';
@import 'coding_bootcamps';
