/***********************
-> main styles
***********************/
$primary-font: 'Lato', serif;

h1, h2, h3 {
  font-family: $primary-font;
}

a.navbar-brand {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 2em;
}

.loupe-brand-icon {
  margin-top: 2px;
  margin-right: -22px;
}

.home {
  background: image-url("home-bcg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    max-width: 960px;
    text-align: center;
    padding-bottom: 50px;

    .header {
      display: block;
      margin-bottom: 50px;

      a {
        margin: 30px 0;
      }

      h1 {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 3.5em;
        color: #354B60;
        font-weight: 700;
        text-transform: capitalize;
      }
    }

    .benefits {
      text-align: center;
      margin: 0 auto;

      div {
        font-size: 1.5em;
        margin-bottom: 30px;
      }

      span {
        padding: 0 20px;
        font-weight: 800;
        color: #354B60;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .what-is {
      text-align: left;

      h2 {
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-bottom: 30px;
      }
    }
  }

  .footer {
    text-align: center;
    
    img {
      display: block;
      margin: 0 auto;
      padding: 30px 0;
    }
    

  }
}

/* grouping imports here to save http request */
@import 'icons';
@import 'coding_bootcamps';
