<footer>
  <div class="clearfix"></div>
  <div class="about-footer">
    <%= link_to "About", about_path, class: "about-link" %>
    <span class="icon-twitter"></span> <a href="https://twitter.com/bootcampsearch" target="blank">@BootcampSearch</a>
  </div>
  <div class="pacman">
    <a href="http://www.youtube.com/watch?v=Sqz5dbs5zmo" target="blank"><%= image_tag("icon-packman.png") %></a>
  </div>
</footer>